/*******************************Calendar Top Navigation*********************************/
div#calendar{
    margin:20px auto;
    padding:0px;
    width: 1000px;
    height:600px;
    font-family:Helvetica, "Times New Roman", Times, serif;
  }
   
  div#calendar div.box{
      position:relative;
      top:0px;
      left:0px;
      width:100%;
      height:40px;
      background-color:   #787878 ;      
  }
   
  div#calendar div.header{
      line-height:40px;  
      vertical-align:middle;
      position:absolute;
      /* left:10px; */
      top:0px;
      width:100%;
      height:40px;   
      text-align:center;
      display:flex;
      justify-content: space-around;
      background: var(--accent_hover);
  }
   
  div#calendar div.header a.prev,div#calendar div.header a.next{ 
      /* position:absolute; */
      top:0px;   
      height: 17px;
      display:block;
      cursor:pointer;
      text-decoration:none;
      color:#FFF;
  }
   
  div#calendar div.header span.title{
      color:#FFF;
      font-size:18px;
  }
   
   
  div#calendar div.header a.prev{
      left:0px;
  }
   
  div#calendar div.header a.next{
      right:0px;
  }
   
   
   
   
  /*******************************Calendar Content Cells*********************************/
  div#calendar div.box-content{
      border: 1px solid var(--accent);
      border-top:none;
  }
   
   
   
  div#calendar ul.label{
      float:left;
      margin: 0px;
      padding: 0px;
      margin-top:5px;
      margin-left: 5px;
  }
   
  div#calendar ul.label li{
      margin:0px;
      padding:0px;
      margin-right:5px;  
      float:left;
      list-style-type:none;
      width:80px;
      height:40px;
      line-height:40px;
      vertical-align:middle;
      text-align:center;
      color:#000;
      font-size: 15px;
      background-color: transparent;
      margin:0 30px;

  }
   
   
  div#calendar ul.dates{
      float:left;
      margin: 0px;
      padding: 0px;
      margin-left: 5px;
      margin-bottom: 5px;
      height:600px;
    
  }
   
  /** overall width = width+padding-right**/
  div#calendar ul.dates li{

      padding:0px;
   
      line-height:80px;
      vertical-align:middle;
      float:left;
      list-style-type:none;
      width:80px;
      height:80px;
      font-size:25px;
      color:#000;
      text-align:center; 
      margin: 10px 30px;
      border:3px solid var(--accent);
      background: white;
      border-radius: 100px;
  }



  div#calendar ul.dates button{
    padding:0px;
    line-height:80px;
    vertical-align:middle;
    float:left;
    list-style-type:none;
    width:80px;
    height:80px;
    font-size:25px;
    color:#000;
    text-align:center; 
    margin: 10px 30px;
    border:3px solid var(--accent);
    background: white;
    border-radius: 100px;
}
   

div#calendar ul.dates .blue{
    padding:0px;
    line-height:80px;
    vertical-align:middle;
    float:left;
    list-style-type:none;
    width:80px;
    height:80px;
    font-size:25px;
    text-align:center; 
    margin: 10px 30px;
    border:3px solid var(--accent);
    background: var(--accent);
    color:white;
    border-radius: 100px;
}


  :focus{
      outline:none;
  }
   
  div.clear{
      clear:both;
  }


  .sec1{
    height:800px;
  }


  .blue{
  
  }



  .sec2{
    height:900px;
  }

  table{
    width:100%;
    table-layout: fixed;
  }
  .tbl-header{
    background-color: var(--accent);
    width:100%;
   }
  .tbl-content{
    height:600px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
  }
  th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color:white;
    text-transform: uppercase;
    text-align: center;
  }
  td{
    /* padding: 15px; */
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: black;
    border-bottom: solid 1px rgba(255,255,255,0.1);
  
  }
  
  td h3{
    color:black;
    text-align: center;
    font-weight:600;
    font-size:18px;
  }

  tr{
    height:60px;
  }
  

  section{
    margin: 50px auto;
    width:100%;
    animation: fade_in 1s;
    box-shadow: var(--shadow);
  }
 
  
  .tb_ico{
    width:40px;
    height:40px;
    border-radius: 50%;
    background: var(--accent);
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    margin:20px 41%;
  }

  .tb_ico i{
    font-size:18px;
    color:white;
  }
