
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@900&display=swap');




@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root{
    --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --accent: #1e308a;
    --accent_hover:#0c1855;
}

h1{
    font-size:26px;
    font-weight:600;
    color:var(--accent);
    width:100%;
    text-align: center;
}


td a{
    width:80px;
    display: inline-block;
    margin:0 32%;
  }


  ::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}



h4{
    font-size:15px;
    font-weight:500px;
}


.message{
    position:fixed;
    background: var(--accent);
    color:white;
    height:40px;
    width:20%;
    margin:auto;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    padding:10px;
    border-radius: 10px;
    left: 0; 
    right: 0; 
    top:0;
    margin-left: auto; 
    margin-right: auto; 
    animation: fade_out 10s;
    /* z-index:1000000000000000000000000000000000000000000000; */
    margin-top:50px;
    opacity:0;
    z-index:0;
}

@keyframes fade_out {
    from{
        opacity:1;
        z-index:1000000000000000000000000000000000000000000000;
}

    to{
        opacity:0;
        z-index:0;
    }
}


.logo_cont h1{
    color:white;
    font-weight:600;
}

button{
    font-weight:600;
    background: var(--accent);
    border-radius:12px;
    color:white;
    cursor:pointer;
    padding:15px 25px;
    display:block;
}

button:hover{
    background: var(--accent_hover);
}

button:disabled{
    background: #0a16506b;
    cursor:default;
}


.upper{
    width:100%;
    height:38.75px;
    background: #04091e;
}


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Chivo', sans-serif;
    /* text-transform: capitalize; */
    font-weight: 200;
    transition:.2s;
    border:none;
    outline:none;
    list-style:none;
    accent-color: #25059b;
    text-decoration: none;
    /* scroll-behavior: smooth; */
}


.nav{
    width:100%;
    height:119px;
    padding:1px;
    position:fixed;
    top:0;
    left:0;
    z-index:100000000;
    background: transparent;
    padding-top:1px;
}

.nav_cont{
    width:1200px;
    margin:20px auto;
    height:30px;
    display:flex;
    justify-content: space-between;
}

h3{
    color:var(--accent);
}

.logo_cont{
    width:200px;
    height:100%;
    position:relative;
    margin-left:60px;
  
}

.logo_cont h1{
  font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5px;
    font-size:30px;
}

.logo_cont img{
    width:60px;
    height:auto;
    position:absolute;
    top:-11px;
}

.menu{
    width:700px;
    height:100%;
}

.menu ul{
    display:flex;
    align-items: center;
    height:100%;
    justify-content: flex-end;
}

.menu ul li{
    /* margin:0 16px; */
    text-transform: capitalize;
    margin:0 30px;
}

.menu a{
    color:white;
    font-weight:400;
}


.hero{
    min-height:747px;
    width:100%;
    background: white;
    padding-bottom:60px;
    /* margin-top:148px; */
}

.nav span{
    display:block;
    margin:0px auto;
    border-bottom:1px solid #39353e;
    width:1200px;
}




.img_container{
    width:100%;
    height:550px;
    position:relative;
    background: url('../images/FEAT-Mint-07.jpg') right;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 30%;
}


.overlay{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.519);

}

.container{
    width:100%;
    height:400px;
    margin:100px 0;
}

.cent{
    width:1200px;
    height:100%;
    margin:0 auto;
    padding-top:1px;
}

.user{
    width:100%;
    height:30px;
    margin-top:225px;
}

.user h1{
    width:100%;
    text-align: center;
    font-size:40px;
    font-weight:600;
    color:white;
}

.navigation{
    width:100%;
    height:30px;
    margin-top:30px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.navigation a, .navigation i{
    color:white;
    margin:0 10px;
}

.navigation i{
    font-size:16px;
}

body{
    overflow-y: hidden;
}

.loader{
    width:100%;
    height:100%;
    position:fixed;
    background-color: rgba(4, 9, 30, 0.781);
    z-index:9999999999999;
    top:0px;
    left:0;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.loader img{
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
    width:200px;
    height:auto;
}




@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }


  @keyframes fade_in {
    from{
      position:relative;
      opacity:0;
      bottom:-70px;
    }
  
    to{
      position:relative;
      opacity:1;
      bottom:0;
      left:0;
    }
  }
  


  



  .welcome_cont{
    width:1000px;
    height:250px;
    border-radius: 30px;
    position:relative;
    border:4px solid white;
    animation: fade_in 1s;
  }
  
  .welcome_cont .circle{
    position:absolute;
    left:-70px;
    width:180px;
    height:180px;
    background: var(--accent);
    border-radius: 100px;
    top:20px;
    border:4px solid white;
    animation: move 1.8s;
  }
  
  .welcome_cont h1{
    color:white;
    font-size:60px;
    margin:20px 0 10px 0;
  }
  
  .welcome_cont span{
    display:block;
    margin:20px auto;
    border-bottom: 4px solid white;
    width:540px;
    animation: grow 1.8s;
  
  }
  
  
  @keyframes grow {
    from{
      width:0;
      opacity:0;
    }
  
    to{
      width:540px;
      opacity:1;
    }
  }
  

  @keyframes move {
    from{
      top:-40px;
      left:60px;
    }

    50%{
      top:-40px;
      left:-70px;
    }

    to{
      left:-70px;
      top:20px;
    }
  }
  
  

  
  .img_container button{
    animation: fade_in 1s;
    margin:40px auto;
  }

  .img_container .cent{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }



  
  .img_container h4{
    color:white;
    text-align: center;
    margin:20px 0;
    animation: fade_in 2.8s;
    font-size:40px;
    font-weight:600;
  }