.reg{
    height:400px;    
}

.reg .cent{
    height:100%;
    display:flex;
    padding-top:1px;
    justify-content: center;
}


.reg_box{
    width: 300px;
    height:300px;
    margin:50px 170px;
    border-radius: 12px;
    box-shadow:var(--shadow);
    padding:0;
}


.reg a{
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
}

.prof_i{
    width:100%;
    height:150px;text-align: center;
}

.prof_i i{
    margin: 30px auto;
    font-size: 80px;
    color:var(--accent);
}

.reg_box h1{
    width:100%;
    text-align: center;
    margin:20px 0;
    color:var(--accent);
    font-size:36px;
}

.reg_box:hover{
    background: var(--accent);
}


.reg_box:hover i, .reg_box:hover h1{
    color:white;
}