.sec1{
    height:900px;
    margin-top:100px;
}








h1{
    font-size: 30px;
    color: var(--accent);
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
  }
  table{
    width:100%;
    table-layout: fixed;
  }
  .tbl-header{
    background-color: var(--accent);
    width:100%;
   }
  .tbl-content{
    height:600px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
  }
  th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color:white;
    text-transform: uppercase;
    text-align: center;
  }
  td{
    /* padding: 15px; */
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: black;
    border-bottom: solid 1px rgba(255,255,255,0.1);
  }
  
  td h3{
    color:black;
    text-align: center;
  }
  

  section{
    margin: 50px auto;
    width:100%;
    animation: fade_in 1s;
  }
  
  
  /* follow me template */

  
  /* for custom scrollbar for webkit browser*/
  
  ::-webkit-scrollbar {
      width: 6px;
  } 
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  } 
  ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  }


.img_con{
    width:100px;
    height:100px;
    border-radius: 100px;
    margin:8px auto;
    overflow:hidden;
}

  .img_con img{
    width:auto;
    height:100%;
    width:100%;
    object-fit:cover;
  }



  .tb_ico{
    width:40px;
    height:40px;
    border-radius: 50%;
    background: var(--accent);
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    margin:20px 41%;
  }

  .tb_ico i{
    font-size:18px;
    color:white;
  }